@import "./Variable.scss";
.realContainer{
    width: 100%;
    height: 100%;
    display: flex;
    overflow: scroll;
}
.realAbout{
    width: 30%;
    height: 100%;
    .realProfile{
        width: 100%;
        height: 40%;
        display: flex;
        justify-content: center;
        align-items: center;
        img{
            width: 200px;
            height: 200px;
            border-radius: 50%;
            border: solid $green;
        }
    }
    .realFollower{
        width: 100%;
        height: 10%;
        display: flex;
        gap: 20px;
        justify-content: center;
        button{
            width: 140px;
            height: 40px;
            border: solid $green;
            border-radius: 5px;
            background: none;
            color: $softlight;
            font-size: 1rem;
        }
    }
    .realDescription{
        width: 100%;
        height: 50%;
        padding-left: 40px;
        padding-right: 40px;
        display: flex;
        gap: 10px;
        flex-direction: column;
        .shortInfo{
            color: $softlight;
            font-size: 1.2rem;
        }
        .realDetail{
            width: 100%;
            height: 50px;
            display: flex;
            justify-content: start;
            align-items: center;
            gap: 20px;
            span{
                color: $softlight;
                font-size: 1.2rem;
            }
        }
    }
}
.projectOverview{
    width: 70%;
    height: auto;
    padding-top: 2vh;
    .projectContainer{
        width: 100%;
        height: 50vh;
        display: flex;
        padding: 5vh;
        justify-content: space-between;
        &:nth-child(4){
            padding: 2vh;
            height: auto;
        }
    
    }

}

@media (max-width: 1180px) {
   .realContainer{
     flex-direction: column;
     height: 150vh;
     padding-top: 2vh;
   }
   .realAbout{
        width: 100%;
        height: 100vh;
        display: flex;
        gap: 20px;
        flex-direction: column;
        .realProfile{
            height: 200px;
        }
        .realProfile{
            gap: 10px;
            img{
                width: 180px;
                height: 180px;
            }
        }
        .realFollower{
            height: 60px;
        }
   }
   .projectOverview{
     width: 100%;
     height: auto;
     .projectContainer{
        height: 50vh;
        align-items: center;
     }
   }
   
}
@media (min-width: 1180px){
    .projectOverview{
        overflow: scroll;
    
    }
}
@media (max-width: 768px){
    .projectOverview{
        padding: 0;
        .projectContainer{
            height:35%;
            flex-direction: column;
            align-items: center;
            gap: 20px;
         }
    }
}
