@import "./Variable.scss";
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    background: $main;
}
.container{
    width: 100%;
    height: 100vh;
    font-family: $font-sans;
    display: flex;
    flex-direction: column;
    background-size: cover;
    background-attachment: fixed;
}
.contentContainer{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    padding-top: 5vh;
    .mainContent{
        width: 100%;
        height: 90%;
        border-radius: 10px;
        display: flex;
        border: solid white;
        flex-direction: column;
        border-top: none;
        margin-right: 5vh;
        .bar{
            border-bottom: solid white;
            background-color: rgb(213, 213, 213);
            border-radius: 10px;
            border-radius: 10px 10px 0px 0px;
            width: 100%;
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: start;
            padding: 2vh;
        }
    }
}

@media (max-width: 1180px) {
    .container{
        height:100%;
        padding-bottom: 2vh;
    }
    .contentContainer{
        flex-direction: column-reverse;
        padding-top: 0vh;
        .mainContent{
            border: none;
            .bar{
                border-radius: 0px;
                justify-content: space-between;
            }
        }
    }
}

@media (max-width: 640px) {
    .contentContainer{
        .mainContent{
            .bar{
                border-radius: 0px;
                justify-content: space-between;
            }
          }
    }
}
