@import "./Variable.scss";
.aboutMe{
    display: flex;
    width: 100%;
    justify-content: start;
    height: 100%;
}
.aboutMeDetail{
    display: flex;
    flex-direction: column;
    padding: 5vh 0px 0px 10vh;
    width: 50%;
    gap: 20px;
    span{
        font-size: 1.2rem;
        font-weight: 600;
        font-family: $font-mono;
        color: $green;
    }
    .aboutDescription{
        font-size: 1.2rem;
        color: $softlight;
    }
    .intro{
        display: flex;
        flex-direction: column;
        gap: 5px;
        span{
            &:first-child{
                color: $white;
                font-size: 5rem;
                font-family: $font-sans;
            }
            &:nth-child(2){
                color: $softlight;
                font-size: 3rem;
                   font-family: $font-sans;
            }
        }
    }
}
.react3d{
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    .reactModel{
        width: 100%;
        height: 100%;
    }
}
.paginate{
    display: flex;
    gap: 20px;
    padding-top: 3vh;
    button{
        width: 200px;
        height: 50px;
        font-family: $font-mono;
        border: solid $green;
        background: none;
        color: $green;
        font-size: 1.2rem;
        border-radius: 5px;
    }
    a{
        width: 200px;
        height: 50px;
        font-family: $font-mono;
        border: solid $green;
        background: none;
        color: $green;
        font-size: 1.2rem;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
    }
}

/*responsive*/
/* 2xl */
@media (max-width: 1536px) {
   
}

/* xl */
@media (max-width: 1475px) {
    .react3d{
        width: 50%;
    }
    .aboutMeDetail{
        padding-left: 5vh;
    }
}

/* lg */
@media (max-width: 1180px) {
    .aboutMe{
        flex-direction: column;
        align-items: center;
        justify-content: start;
        padding: 0;
    }
    .aboutMeDetail{
        padding: 0px;
        width: 90%;
        padding-top: 2vh;
        height: 100vh;
        justify-content: center;
    }
    .react3d{
        width: 100%;
        align-items: start;
        height: 50%;
        display: none;
    }
}

/* md */
@media (max-width: 768px) {
    .aboutMeDetail{
        height: 80vh;
        justify-content: start;
        padding-top: 10vh;
    }
}

/* sm */
@media (max-width: 640px) {
   
}

/* xs */
@media (max-width: 475px) {}