@import "./Variable.scss";
.mySkills{
    width: 100%;
    height: 100%;
    display: flex;
    gap: 20px;
    flex-direction: column;
    .skillHead{
        width: 100%;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: $green;
        font-size: 2rem;
    }
}
.skillBox{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
    .skillIcon{
        width: 25%;
        height: 150px;
        display: flex;
        flex-direction: column;
        align-items: center;
        img{
            width: 80px;
            height: 80px;
            border-radius: 50%;
            border: solid $green
        }
        span{
            display: flex;
            font-size: 1.2rem;
            align-items: start;
            color: $softlight;
        }
    }
}


@media (max-width: 768px) {
    
}